
.hero-section {
    display: flex;
    font-size: 16px;
    margin: 0 auto;
    max-width: 1170px;
}

.hero-section .sidebar {
    padding-top: 40px;
    padding-right: 16px;
    border-right: 1px solid #000000;
    max-width: 217px;
    max-height: 344px;
}

.hero-section .sidebar > ul {
    text-align: left;
    list-style: none;
    padding-bottom: 16px;
    width: 100%;
}


.hero-section .sidebar > ul > li {
    text-align: left;
    list-style: none;
    padding-bottom: 16px;
    width: 100%;
}

.hero-section .banner {
    /*overflow: hidden;*/
}

.hero-section .banner > img {
    padding: 40px 0 0 45px;
    max-width: 100%;
    height: auto;
    display: block;

}