.new-arrival {
}

.new-arrival-banner {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 30px;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box2 {
    grid-column-start: 2;
    grid-column-end: 4;
}


.new-arrival-banner img {
    width: 100%;
    height: 100%;
}