.flash-sales {
    display: flex;
    font-size: 16px;
    margin: 140px auto;
    max-width: 1170px;
    flex-direction: column;
}

.slider-products::-webkit-scrollbar {
    display: none;
}

.slider-products {
    max-width: 1170px;
    width: 100%;
    overflow-x: auto;
}

.list-products {
    display: flex;
    gap: 30px;
}