.button-wrap {
    display: inline-block;
}

.button {
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
    padding: 16px 48px;
    gap: 10px;
}

.full-width {
    width: 100%;
}

.container-red {
    background-color: #DB4444;
    color: white;
}

.container-red:hover {
    background-color: darkred;
    cursor: pointer;
}

.container-white {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
}

.container-white:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.container-green {
    background-color: #00FF66;
    color: white;
}

.container-green:hover {
    background-color: darkgreen;
    cursor: pointer;
}

.outline-red {
    background-color: transparent;
    color: red;
    border: 2px solid red;
}

.outline-red:hover {
    background-color: red;
    color: white;
}


.outline-white {
    background-color: transparent;
    color: black;
    border: 2px solid #ccc;
}


.outline-white:hover {
    background-color: #f0f0f0;
}

.outline-green {
    background-color: transparent;
    color: #00FF66;
    border: 2px solid #00FF66;
}


.outline-green:hover {
    background-color: darkgreen;
    color: white;
}