.login-register-form-wrap {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.login-register-form-wrap .title-form {
    font-family: Inter, serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 0;
    margin-bottom: 24px;
}

.login-register-form-wrap .guiding-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.login-button-and-forgot-pass {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot-password {
    display: inline-block;
    width: 150px;
    color: #DB4444;
    text-decoration: none;
}

.form-input .redirect-to-login {
    text-align: center;
}

.form-input .login-text {
    margin-left: 5px;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-size: 16px;
    color: #7a7979;
}