.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}

header {
    width: 100vw;
    padding: 40px 0 16px 0;
    border-bottom: 1px solid #000000;
}

.navigation {
    display: flex;
    gap: 48px;
}

.navigation > a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.search-wrapper {
    display: flex;
    gap: 16px;
}

.search {
    position: relative;
}

.search > img {
    position: absolute;
    top: 10px;
    right: 20px;
}

.search-wrapper .search > input {
    width: 243px;
    border: none;
    background-color: #F5F5F5;
    border-radius: 4px;
    padding: 10px 16px;
    font-size: 12px;
    line-height: 24px;
    outline: none;
}