.list-category {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.category-item {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 145px;
    justify-content: center;
    align-items: center;
    border: 1px solid #0000004D;
    border-radius: 4px;
}

.category-item img {
    width: 56px;
    height: 56px;
}

.category-item h3 {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
}

.category-item:hover {
    color: #FAFAFA;
    background-color: #DB4444;
}

.category-item:hover img {
    color: #FAFAFA;
    background-color: #DB4444;
}